@use '@/styles/variables' as vars;
@import '@/styles/breakpoints';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}
