@use '@/styles/variables' as vars;
@import '@/styles/breakpoints';

.title {
  color: vars.$orange_light;
  font-size: vars.$fz_xl;
  font-weight: 600;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    color: vars.$orange_dark;
    font-size: vars.$fz_xl;
    font-weight: 700;
  }

  .button {
    background: vars.$orange_dark;
    color: white;
    font-size: vars.$fz_df;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 8px;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.grid {
  display: grid;
  justify-content: center;
  gap: 24px;
  grid-template-columns: repeat(4, 310px);

  @include tablet {
    grid-template-columns: repeat(2, 310px);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  @include small-mobile {
    grid-template-columns: 1fr;
  }
}
