@import '@/styles/breakpoints';

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  z-index: 2;
}

.container {
  display: flex;
  width: 100%;
  padding: 23px 70px;
  justify-content: space-between;
  background-color: #000;
  align-items: baseline;

  p {
    color: #fff;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
    text-align: center;
  }
}
